/*@import importa literalmente as formatações de outrosw arquivos para esse
esta sendo ultilizado para manter diferentes arquivs para firentes informações.*/
@import "global/header.css";
@import "global.css";
@import "global/footrer.css"