

.footerLinks {
    display: flex; /*deixa a caixa desse elemento mais manipulavel*/
    gap: 10px; /*define um espaço entre os elementos*/
    justify-content: center; /*centraliza horizontalmente os itens*/
    padding: 0; /*define 0 espaços entre os itens*/
    width: 100%; /*define a largura ocupando da esquerda para direita*/
    height: 50px; /*define a altura do elemento*/
    list-style: none; /*tira os pontos da lista*/
    background-color: var(--footer-redes); 
    font-family: var(--defoult-font);
    font-size: var(--footer-links-mobile-font-size);
    align-items: center; /*alinha o item ao sentro*/
    text-align: center; /*alinha os testos ao centro*/
    margin: 0;/*tira as nargens*/
}

.footerRedes li {
    display: flex; 
    align-items: center; /*alinha todos os itens ao centro*/
    gap: 8;/*cria um espaço de 8px entre os elementos*/
}

.redesLogo{
    height: auto; /*define uma altura altomatica*/
    width: 20px; /*define a largura da imagem como 20 px*/
    margin-right: 0;/*cria uma margem de 10px a direita*/
}

.footerNav a{ 
text-decoration: none; /*tira os pontos da lista*/
color: var(--links-font-color); 
align-items: center;
gap: 10px;
}

.footerLinks a:hover{ /*define a cor que o link fica ao passar o mouse por cima*/
    color: var(--footer-font-color);
    transition: 0.3s;
}


.footer-container{
    display: flex;
    width: 100%; /*faz o item ocupar de uma borda a outra da caixa*/
    height: 200px; /*define a altura de 200px*/
    flex-direction: column; /*organiza os itens em coluna*/
    align-items: center; /*alinha os itens ao centro horizontalmente*/
    justify-content: center; /*alinha os itens verticalemente*/
    background-color: var(--footer-background);
    padding-bottom: 30px; /*cria um espaçamento de 30px na parte de baixo*/
}

.footer-container h1 {
    margin-top: 20px;/*cria uma margem de 20 px no topo da caixa*/
    flex: 1; /*faz o item ocupar o resto da caixa*/
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--footer-font-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* adiciona uma sombra*/
     text-align: center; /*alinha os textos ao centro*/
}



.footer-container p{
    margin-top: 0; /*tira a margem do topo do elemento*/
    justify-content: flex-start; /*alinha todos os itens no inicio da caixa*/
    flex: 1;
    font-family: var(--defoult-font);
    font-size: var(--branco);
    color: var(--branco);
    text-align: center;
}