.footer-container{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: var(--footer-background);
}

.footer-container h1 {
    flex: 1;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--footer-font-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     text-align: center;
}
