

.footerLinks {
display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 50px;
    list-style: none;
    background-color: var(--footer-redes);
    font-family: var(--defoult-font);
    align-items: center;
    text-align: center;
    margin: 0;
}

.footerRedes li {
    display: flex;
    align-items: center;
    gap: 8;
}

.redesLogo{
    height: auto;
    width: 20px;
    margin-right: 10px;
}

.footerNav a{
text-decoration: none;
color: var(--links-font-color);
align-items: center;
gap: 10px;
}

.footerLinks a:hover{
    color: var(--footer-font-color);
    transition: 0.3s;
}

.footer-container{
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-background);
    padding-bottom: 30px;
}

.footer-container h1 {
    margin-top: 20px;
    flex: 1;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    color: var(--footer-font-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
     text-align: center;
}



.footer-container p{
    margin-top: 0;
    justify-content: flex-start;
    flex: 1;
    font-family: var(--defoult-font);
    font-size: var(--branco);
    color: var(--branco);
    text-align: center;
}