

.header-container {/*aqui temos uma classe que exite no html e ela guarda as informações de
    formatação desse bloco no caso do header*/
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    background-color: var(--header-background);/*cor de fundo do header, como pode ver o var pega
    uma variavel do outro arquivo*/
    height: 100px; /*autura do header*/
    width: 100%; /*define que a "caixa" do header vai da borda da direita até a da esquerda.*/
    font-size: var(--default-font-size); /* tamanho das fontes de todos os textos no header*/
    font-family: var(--default-font);/*fonte de todos os textos no header*/
    color: var(--branco);/*cor de todos os textos no header*/
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.5);/*não esta funcionando depois eu concerto*/
    
}
/*codigo pelo gemini
.header-principal h1 
    font-family: var(--fonte-rpg); Aplica a MedievalSharp 
    color: var(--cor-titulo);       Aplica a cor que você definiu 
    font-size: 3rem;                Deixa o título bem grande e épico 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  Dica: adiciona uma sombra para dar profundidade 
}
*/
.header-container h1{ /*aqui é a mesma coisa mas só se aplica aos titulos h1*/
    color: var(--title-color);
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    flex: 1;
    /*assim como em cima aqui faz uma sombra para
    o titulo o primero numero de dois 2px define a esca horizontal -2 seria para a esquerda
    o segundo a escala vertical -2px seria para baixo e o ultimo deixa ele mais borrado.
    000 é a cor preta e 0.5 significa 50% de opacidade.*/
    text-align: center; /* isso define o alinha mento do texto*/
    padding-top: 10px;/*e isso a distancia que ele vai ficar do topo da pagina*/
}

.logo-image{
    padding-left: 20px; /* afasta a imagem da "parede"*/
    width: 60px; /* tamanho da imagem*/
    height: auto;/* define um altura altomatrica para não distorcer a imagem*/
}


.menu-mobile{/*configuração do botão*/
    display: inline-block;/* alinha o botão fazendo ele ficar em uma linha especifica*/
    background-color: transparent;
    color: var(--btn-font-color);
    border: 1px solid var(--btn-font-color);
    padding: 5px 10px; /*define o formato retangular do botão o primeiro altura e segunda o a
    largura se tivesse 4 informações ele ia definir por no sentido horario*/
    font-size: 1.2rem;
    cursor: pointer; /* Transforma a seta do mouse na 'mãozinha' de clique */
}

.links-list{ 
    display: none; /*faz os links para as ouras paginas não aparecer*/
    list-style: none; /*normalmente uma lista tem ontinhos ou uma numeração no caso com essa linha
    ele não tem isso.*/
    padding: 0; /*desfine os espaçamentos dos links como 0*/

}

#navLinks.active{
    display: flex !important;
    flex-direction: column;
    background-color: var(--header-background);
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1000;
    padding: 20px;
    border-top: 1px solid rgba(255,255,255,0,1); 
    animation: fadeIn 0.3s ease-in-out; 
}

@keyframes fadeIn{
    from{opacity: 0; text-replace: translateY(-10px);}
    to{opacity: 1; transform: translate(0);}
}

#navLinks li{
    display: block !important;
    text-align: center;
    margin: 10px 0;
}

.links-list a{ /*as informações dos textos dos links*/
    color: var(--links-font-color);
    text-decoration: none; /*por padrão os links são sublinhados com essa linha isso não acontece*/
    font-family: var(--title-font);
    transition: 0.3s; /*define o tempo que dura a tranzição da cor base para a cor que fica 
    ao passa o cursor do mouse por cima*/
}
.links-list a:hover{ /*define a cor que fica ao passar o cursor por cima*/
    color: var(--title-color);

}

@media(min-width: 768px){ /*aqui é a mesma coisa mas só se aplica quando o site tem mais
    de 768pixel de largura ou seja esta no computador*/
.header-container h1{
    flex: 1;
    text-align: left;
    padding-left: 10px; /*alinha o texto a esquerda*/
    padding-top: 10px;
    
}

.navegation{ /* sobre a parte dos links de navegação do site no desktop*/
    width: 100%; /*que o objeto tem que ocupar todo o espaço disponivel na caixa que ele esta contido*/
    align-self: flex-start;/*difine a direção de um bloco especifico*/
    background-color: var(--header-background);
    text-align: left;/*alinha o texto a esquerda*/
    padding: 0;/*remove o espaço em volta do texto*/
    margin-top: -10px;/*cria uma margem em cima, nocaso o negativo tira essa margem*/
}


.menu-mobile{
    display: none;/*desativa o botão no desctop*/
}

.links-list{
    display: flex; /*deixa os itens dessa "caixa" mais sucetivesi a comandos de posicionamento
    polpando varios calculos*/
    justify-content: flex-start; /*empurra os itens da lista para o começõ da caixa*/
    gap: 20px;/*define um espaço entre os itens de uma caixa flexivel*/
    margin-top: 5px; /*cria uma margem no topo*/
    padding-left: 20px; /*cria um espaço na esquerda separando so itens da parede da pagina*/
}

}
