

.header-container {/*aqui temos uma classe que exite no html e ela guarda as informações de
    formatação desse bloco no caso do header*/
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
    background-color: var(--header-background);/*cor de fundo do header, como pode ver o var pega
    uma variavel do outro arquivo*/
    height: 100px; /*autura do header*/
    width: 100%; /*define que a "caixa" do header vai da borda da direita até a da esquerda.*/
    font-size: var(--default-font-size); /* tamanho das fontes de todos os textos no header*/
    font-family: var(--default-font);/*fonte de todos os textos no header*/
    color: var(--branco);/*cor de todos os textos no header*/
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.5);/*não esta funcionando depois eu concerto*/
    
}
/*codigo pelo gemini
.header-principal h1 
    font-family: var(--fonte-rpg); Aplica a MedievalSharp 
    color: var(--cor-titulo);       Aplica a cor que você definiu 
    font-size: 3rem;                Deixa o título bem grande e épico 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  Dica: adiciona uma sombra para dar profundidade 
}
*/
.header-container h1{ /*aqui é a mesma coisa mas só se aplica aos titulos h1*/
    color: var(--title-color);
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    flex: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);/*assim como em cima aqui faz uma sombra para
    o titulo o primero numero de dois 2px define a esca horizontal -2 seria para a esquerda
    o segundo a escala vertical -2px seria para baixo e o ultimo deixa ele mais borrado.
    000 é a cor preta e 0.5 significa 50% de opacidade.*/
    text-align: center; /* isso define o alinha mento do texto*/
    padding-top: 10px;/*e isso a distancia que ele vai ficar do topo da pagina*/
}

.logo-image{
    padding-left: 20px;
    width: 60px;
    height: auto;
}


.menu-mobile{
    display: inline-block;
    background-color: transparent;
    color: var(--btn-font-color);
    border: 1px solid var(--btn-font-color);
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.links-list{
    display: none;
    list-style: none;
    padding: 0;

}
.links-list a{
    color: var(--links-font-color);
    text-decoration: none;
    font-family: var(--title-font);
    transition: 0.3s;
}
.links-list a:hover{
    color: var(--title-color);

}

@media(min-width: 768px){ /*aqui é a mesma coisa mas só se aplica quando o site tem mais
    de 768pixel de largura ou seja esta no computador*/
.header-container h1{
    flex: 1;
    text-align: left;
    padding-left: 10px; /*alinha o texto a esquerda*/
    padding-top: 10px;
    
}

.navegation{
    width: 100%;
    align-self: flex-start;
    background-color: var(--header-background);
    text-align: left;
    padding: 0;
    margin-top: 10px;
}


.menu-mobile{
    display: none;
}

.links-list{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 5px;
    padding-left: 20px;
}

}
