.mainContent{ 
    width: 100%;
    box-sizing: border-box;
    font-family: var(--default-font);
    color: var(--default-font-color);
    /*background-color: var(--default-background-color);*/
    background: radial-gradient(circle, #fdf5e6 30%, #f2e8c9 100%);
    box-shadow: inset 0 0 60px rgba (0, 0, 0, 0.1);
    border: 1px solid #d3b48c;
}

.mainContent h1{
    padding: 30px 30px;
    font-family: var(--title-font);
    font-size: var(--title-font-size);
}

.mainContent p{
    padding: 0 30px 30px 30px;
    font-size: var(--default-size-font);
    
}

@media(min-width: 768px){
.mainContent h1{
    padding: 30px 30px;
    font-family: var(--title-font);
    font-size: var(--title-font-size-mobile);
}

.mainContent p{
    padding: 0 100px 30px 30px;
    font-size: var(--default-size-font);
}

}